body{
  font-size: 65.2%;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  gap: 30px;
}
*{
  margin: 0;
  padding: 0;
}
.card{
  background-color: hsl(216, 50%, 16%);
  height: auto;
  width: 220px;
  padding: 20px;
  border-radius: 10px;
}
.btm-cln{
  padding: .3em;
  margin-top: 10px;
  display:grid;
  gap: 10px;
}
.main-text, .date, .creator{
  color:hsl(215, 51%, 70%);
}
.price{
  color: aqua;
  font-weight: 600;
}
.price-icon img, .duration img{
  height: 12px;
  margin-top: 4px;
}
.main-text, .idea, .creator, .creator ~ p, .title, .price, .date, .attribution, .attribution a{ /* grouped elements to prevent repeatation */
  font-family: 'Outfit', sans-serif;
  padding: .2rem;
  letter-spacing: 1px;
}
.price-date, .price-icon, .duration{
  display: flex;
  text-align: center;
}
.price-icon, .duration{
  width: 40%;
}
.title{
  font-size: 1.4em;
  font-weight: 600;
  color: white;
}
.main-text{
  font-size: 1em;
  font-weight: 400;
  text-align: left;
}
.price-date{
 gap: 20px;
}
.price-icon{
  gap: 4px;
}
hr{
  width: 190px;
}
.profile{
  text-align: center;
  display: flex;
  gap: 5px;
  margin-top: 8px;
}
.profile img{
  height: 24px;
  border-radius: 50%;
}
.avtar{
  background-color: white;
  display: flex; /*  display: flex is used to prevent the image from taking extra space at the bottom. Which can be seen if the display flex property is commented out.*/
  padding: 1px;
  border-radius: 20px;
}
.creator, .creator p{
  font-weight: 600;
}
.attribution{
  text-align: center;
  font-size: 1rem;
  color: white;
}
.attribution::after{
  content: '👨‍💻';
}
.attribution a{
  color: aquamarine;
  text-decoration: none;
}
.name{
  color: white;
}
.title:hover, .name:hover{
  color: turquoise;
  cursor: pointer;
}
.preview{
  font-size: 24px;
  display: none;
  height: 220px;
  width: 220px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(64, 224, 208, 0.637);
  border-radius: 10px;
}
.img-box:hover{
  .preview{
  display: flex;
  }
  cursor: pointer;
}
.img-box{
  background-image: url(images/image-equilibrium.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 220px;
  width: 220px;
  border-radius: 10px;
}

a:visited{
  color:grey;
}
@media only screen and (max-width: 768px) {
  * {
      margin: 0;
      padding: 0;
    }
  
    .card {
      background-color: hsl(216, 50%, 16%);
      height: auto;
      width: 220px;
      padding: 20px;
      border-radius: 10px;
    }
  
    .btm-cln {
      padding: .3em;
      margin-top: 10px;
      display: grid;
      gap: 10px;
    }
  
    .img {
      height: 220px;
      width: 220px;
      border-radius: 10px;
    }
  
    .main-text,
    .date,
    .creator {
      color: hsl(215, 51%, 70%);
    }
  
    .price {
      color: aqua;
      font-weight: 600;
    }
  
    .price-icon img,
    .duration img {
      height: 12px;
      margin-top: 4px;
    }
  
    .main-text,
    .idea,
    .creator,
    .creator~p,
    .title,
    .price,
    .date,
    .attribution,
    .attribution a {
      /* grouped elements to prevent repeatation */
      font-family: 'Outfit', sans-serif;
      padding: .2rem;
      letter-spacing: 1px;
    }
  
    .price-date,
    .price-icon,
    .duration {
      display: flex;
      text-align: center;
    }
  
    .price-icon,
    .duration {
      width: 40%;
    }
  
    .title {
      font-size: 1.4em;
      font-weight: 600;
      color: white;
    }
  
    .main-text {
      font-size: 1em;
      font-weight: 400;
      text-align: left;
    }
  
    .price-date {
      gap: 20px;
    }
  
    .price-icon {
      gap: 4px;
    }
  
    hr {
      width: 190px;
  
    }
  
    .profile {
      text-align: center;
      display: flex;
      gap: 5px;
      margin-top: 8px;
    }
  
    .profile img {
      height: 24px;
      border-radius: 50%;
    }
  
    .avtar {
      background-color: white;
      display: flex;
      /*  display: flex is used to prevent the image from taking extra space at the bottom. Which can be seen if the display flex property is commented out.*/
      padding: 1px;
      border-radius: 20px;
    }
  
    .creator,
    .creator p {
      font-weight: 600;
    }
  
    .attribution {
      text-align: center;
      font-size: 1rem;
      color: white;
    }
  
    .attribution::after {
      content: '👨‍💻';
    }
  
    .attribution a {
      color: aquamarine;
      text-decoration: none;
    }
  
    a:visited {
      color: grey;
    }
}